/* Empty. Add your own CSS if you like */
#fondoMenu{
  background-image: url("../img/fondoCabeceraMenu.png");
  background-size: cover;
  background-position: bottom;
  height: 11em;
  margin-top: -.1em;
}

#avatarSideMenu{
  background-image: url("../img/logo-carfood.png");
  background-size: cover;
  height: 5em;
  width: 5em;
  border-radius: 45em;
  border-color: black;
  border-width: medium;

}
#testImg{
  background-image: url("../img/fondoCabeceraMenu.png");
}
#izqCard{
  float: left;
  height: 4.4em;
}

#derCard{
  float: right;
}

.float-button {

  background-color:#303f9f;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 35px;
  padding: 30px;
  font-size: 40px;
  position: fixed;
  bottom: 3%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
