<ion-view view-title="CarFood">
  <ion-content>
    <div class="" id="fondoMenu">
      <div class="" style="padding:1em">
        <h1 style="color:white">Almuerzos</h1>
        <br>
      </div>
    </div>
    <div class="list card">
      <div class="card" ng-repeat="plato in platos">
        <div class="item item-avatar">
          <img ng-src="http://www.lataberna.com.ec/734-large_default/pilsener-twiss-off.jpg" >
          <h2>{{plato.NOMBRE}}</h2>
          <p>{{plato.PRECIO}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" ng-src={{plato.IMAGEN}} alt="" />
          <p style="text-align:justify">
            {{plato.DETALLE}}
          </p>
        </div>
        <div class="row">
          <div class="col col-15">
            <div class="checkbox checkbox-balanced">
              <label class="checkbox">
                <input type="checkbox" ng-click="gestion(plato)">
              </label>
            </div>
          </div>
          <div class="col col-75">
            <div class="range range-positive">
              <i class="icon ion-minus-round"></i>
              <input type="range" name="volume">
              <i class="icon ion-plus-round"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
