<ion-view view-title="CarFood">
  <ion-content>
    <div class="" id="fondoMenu">
      <div class="" style="padding:1em">
        <h1 style="color:white">Desayunos</h1>
        <br>
      </div>
    </div>
    <div class="list card">
      <div class="card" ng-repeat="plato in platos">
        <div class="item item-avatar">
          <img ng-src="http://www.lataberna.com.ec/734-large_default/pilsener-twiss-off.jpg" >
          <h2>{{plato.NOMBRE}}</h2>
          <p>{{plato.PRECIO | currency}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" ng-src={{plato.IMAGEN}} alt="" />
          <p style="text-align:justify">
            {{plato.DETALLE}}
          </p>
        </div>
        <div class="row" ng-if="sesion=='YES'">
          <div class="col col-80">
            <p class="menosUno" ng-click="menosUno($index)"><i class="icon ion-minus-round"></i></p>
            <label>Cantidad: {{plato.CANT}}</label>
            <input type="hidden" name="volume" ng-init="plato.CANT=1" ng-model="plato.CANT">
            <p class="masUno" ng-click="masUno($index)"><i class="icon ion-plus-round"></i></p>
          </div>

          <div class="col col-20">
            <div class="checkbox checkbox-balanced">
              <label class="checkbox">
                <input type="checkbox" ng-click="gestion(plato)">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="float-button" ng-if="sesion=='YES'">
    <span class="height-fix">
      <a class="content">
        <i class="ion-paper-airplane" ng-click="alerta()"> </i>
      </a>
    </span>
  </div>


</ion-view>
