<ion-view view-title="CarFood">
  <ion-content>
    <div class="" id="fondoMenu">
      <div class="" style="padding:1em">
        <h1 style="color:white">Desayunos</h1>
        <br>
      </div>
    </div>
    <div class="list card">
      <div class="card" ng-repeat="menu in menues">
        <div class="item item-avatar">
          <img src="http://www.lataberna.com.ec/734-large_default/pilsener-twiss-off.jpg" >
          <h2>Menu testei</h2>
          <p>{{menu.PRECIO}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="https://pbs.twimg.com/profile_images/1191028919/pilsener.jpg" alt="" />
          <p style="text-align:justify">
            Descripción
          </p>
        </div>
        <div class="row">
          <div class="col col-15">
            <div class="checkbox checkbox-balanced">
              <label class="checkbox">
                <input type="checkbox">
              </label>
            </div>
          </div>
          <div class="col col-75">
            <div class="range range-positive">
              <i class="icon ion-volume-low"></i>
              <input type="range" name="volume">
              <i class="icon ion-volume-high"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
