<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Bienvenido, Ingresa tus datos</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Regresar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Cedula</span>
          <input type="number" ng-model="loginData.cedula" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Nombres</span>
          <input type="text" ng-model="loginData.nombres" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Apellidos</span>
          <input type="text" ng-model="loginData.apellidos" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Telefono</span>
          <input type="number" ng-model="loginData.telefono" required>
        </label>
        <label class="item item-input">
          <span class="input-label">e-mail</span>
          <input type="email" ng-model="loginData.email" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="datos()">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>
